<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C1.C1Excel" version="4.5.20201.416" targetFramework="net48" />
  <package id="C1.C1Pdf" version="4.5.20201.416" targetFramework="net48" />
  <package id="C1.C1Word" version="4.5.20201.416" targetFramework="net48" />
  <package id="C1.C1Zip" version="4.5.20201.416" targetFramework="net48" />
  <package id="C1.Win" version="4.5.20201.416" targetFramework="net48" />
  <package id="C1.Win.BarCode" version="4.5.20201.416" targetFramework="net48" />
  <package id="C1.Win.Bitmap" version="4.5.20201.416" targetFramework="net48" />
  <package id="C1.Win.C1Chart" version="4.5.20201.416" targetFramework="net48" />
  <package id="C1.Win.C1Document" version="4.5.20201.416" targetFramework="net48" />
  <package id="C1.Win.C1DX" version="4.5.20201.416" targetFramework="net48" />
  <package id="C1.Win.FlexChart" version="4.5.20201.416" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
</packages>